@import '../../../styles//variables/index.scss';
@import '../../../styles/fonts/index.scss';
.about_page {
  &-box {
    max-width: 1162px;
    margin-left: auto;
    margin-right: auto;
    @include tablet-lg {
      @include padding-for-mobile;
    }
  }
  &_links {
    a{
      color: $b;
      text-decoration: underline;
      margin-left: 10px;
    }
  }
  &_reg {
    background-image: url('../../../images/MainAbout/mainAbout.png');
    background-size: cover;
    margin-bottom: 90px;
    margin-top: -5px;
    @include laptop-lg {
      background-position-x: -10px;
    }

    &__wrapper {
      @include flex('sc');
      overflow: hidden;
      @include mobile {
        flex-direction: column;
      }
    }
    &__head {
      margin-bottom: 20px;
      text-transform: uppercase;
      color: $a;
    }
    &__left {
      padding-top: 60px;
      padding-bottom: 60px;
      max-width: 744px;
      width: 100%;
      @include mobile {
        padding-bottom: 0;
      }
    }
    &__desc {
      @extend %text-24;
      color: $a;
      margin-bottom: 52px;
    }
    &__img_wrap {
      width: 100%;
      align-self: stretch;
      @include mobile {
        width: 50%;
        align-self: flex-end;
      }
    }
    &__img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__link {
      display: inline-block;
      text-align: center;
      padding: 18px 30px;
      border: 2px solid var(--gx-color-darkgray);
      border-radius: 2px;
      background-color: var(--gx-color-white);
      text-transform: uppercase;
      font-family: 'Nato Sans', sans-serif;
      font-weight: bold;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: var(--gx-color-accent2);

      &:hover {
        border: 2px solid var(--gx-color-accent2);
        transition: 0.3s;
      }
    }
  }

  &_exp {
    margin-bottom: 90px;
    padding-top: 35px;
    padding-bottom: 35px;
    box-shadow: -16px -16px 32px rgba(222, 226, 242, 0.2), 16px 16px 32px rgba(222, 226, 242, 0.3);
    border-radius: 10px;
    display: flex;
    align-items: stretch;
    &__item {
      padding: 35px 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 2px solid $g;
      @include mobile {
        flex-direction: column;
      }

      &:last-child {
        border: none;
      }
      &_circle {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: $g2;
        margin-right: 30px;
        @include flex('cc');
        @include mobile {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
      &_img {
        height: 18px;
        color: $a2;
      }
      &_head {
        @extend %cab-h1;
        margin: 0;
      }
      &_desc {
        margin: 0;
      }
    }
  }

  &_for {
    @include flex('sc');
    padding-bottom: 85px;
    @include mobile {
      flex-direction: column;
    }

    &__img {
      width: auto;
      margin-right: 30px;
      @include mobile {
        margin-right: 0;
      }
    }

    &__text {
      @include mobile {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
      }
    }

    &__head {
      margin-bottom: 58px;
    }

    &__list {
      list-style-type: none;
      padding-left: 0;

      &-li {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
      }

      &_desc {
        margin-top: 0;
        margin-bottom: 0;
        &-small {
          @extend %text-small;
          color: $dg2;
        }
      }

      &_icon {
        // не трогать высоту и ширину - колхозно, но не ломается
        min-width: 20px;
        height: 20px;
        color: #29af9a;
        margin-right: 12px;
      }
    }
  }
  &-background {
    background-color: rgba(247, 244, 252, 0.3);
    padding-top: 65px;
    padding-bottom: 55px;
  }
  &_pluses {
    &__head {
      text-align: center;
      margin-bottom: 20px;
    }
    &__desc {
      margin: 0 auto;
      text-align: center;
      max-width: 635px;
      @extend %text-18;
      color: $dg2;
      margin-bottom: 61px;
    }
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      @include mobile {
        flex-direction: column;
      }
    }
    &__card {
      @include flex('sc');
      flex-direction: column;
      width: calc(100% / 2 - 15px);
      background-color: $w;
      border: 2px solid $g;
      border-radius: 10px;
      @include tablet-md {
        width: calc(100% / 2 - 10px);
      }

      @include mobile {
        width: 100%;
      }
      &_text {
        padding-top: 40px;
        padding-right: 60px;
        padding-left: 60px;
        @include tablet-md {
          @include padding-for-mobile;
        }
      }
      &_head {
        @extend %cab-h1;
        text-align: center;
      }
    }
  }

  &_economy {
    padding-top: 60px;
    padding-bottom: 60px;
    @include flex('sc');
    border-bottom: 1px solid $g;
    @include mobile {
      flex-direction: column-reverse;
    }

    &__desc {
      @extend %text-18;
      color: $dg2;
      max-width: 446px;
    }

    &__left,
    &__right {
      width: calc(100% / 2 - 15px);
    }
    &__left {
      @include mobile {
        width: 100%;
      }
    }
    &__img {
      max-height: 310px;
    }
  }
}
